<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
  <symbol id="i-mark" viewBox="0 0 24 24"><path d="M5 3h14v4.5H10v2.2h7.5v4.1H10V16.5h9V21H5z" fill="currentColor" stroke="none"/></symbol>
  <symbol id="i-today" viewBox="0 0 24 24"><path d="M3.5 3.5h7v7h-7zM13.5 3.5h7v7h-7zM3.5 13.5h7v7h-7z"/><path d="M13.5 13.5h7v7h-7z" fill="currentColor"/></symbol>
  <symbol id="i-clock" viewBox="0 0 24 24"><circle cx="12" cy="12" r="8.5"/><path d="M12 7.5V12l3 2"/></symbol>
  <symbol id="i-loop" viewBox="0 0 24 24"><path d="M4 12V7h14"/><path d="M15 4l3 3-3 3"/><path d="M20 12v5H6"/><path d="M9 20l-3-3 3-3"/></symbol>
  <symbol id="i-scale" viewBox="0 0 24 24"><path d="M3.5 4.5h17v16h-17z"/><path d="M7.5 12.5a4.5 4.5 0 0 1 9 0"/><path d="M12 12.5l2-3"/></symbol>
  <symbol id="i-bell" viewBox="0 0 24 24"><path d="M6 16.5V11a6 6 0 0 1 12 0v5.5l1.5 2h-15z"/><path d="M10 21.5h4"/></symbol>
  <symbol id="i-chip" viewBox="0 0 24 24"><path d="M6.5 6.5h11v11h-11z"/><path d="M10 10h4v4h-4z" fill="currentColor"/><path d="M9.5 2.5v4M14.5 2.5v4M9.5 17.5v4M14.5 17.5v4M2.5 9.5h4M2.5 14.5h4M17.5 9.5h4M17.5 14.5h4"/></symbol>
  <symbol id="i-sliders" viewBox="0 0 24 24"><path d="M3 6h9M18 6h3M3 12h3M12 12h9M3 18h11M20 18h1"/><path d="M12 3.5h6v5h-6zM6 9.5h6v5H6zM14 15.5h6v5h-6z"/></symbol>
  <symbol id="i-exit" viewBox="0 0 24 24"><path d="M13 3.5H4.5v17H13"/><path d="M9 12h11"/><path d="M16.5 8.5 20 12l-3.5 3.5"/></symbol>
  <symbol id="i-check" viewBox="0 0 24 24"><path d="M4 12.5l5 5 11-11"/></symbol>
  <symbol id="i-cross" viewBox="0 0 24 24"><path d="M5.5 5.5l13 13M18.5 5.5l-13 13"/></symbol>
  <symbol id="i-play" viewBox="0 0 24 24"><path d="M7 4.5v15l12-7.5z" fill="currentColor" stroke="none"/></symbol>
  <symbol id="i-stop" viewBox="0 0 24 24"><path d="M6 6h12v12H6z" fill="currentColor" stroke="none"/></symbol>
  <symbol id="i-alert" viewBox="0 0 24 24"><path d="M12 3.5 21.5 20h-19z"/><path d="M12 10v4.5M12 17v.5"/></symbol>
  <symbol id="i-info" viewBox="0 0 24 24"><path d="M3.5 3.5h17v17h-17z"/><path d="M12 11v6M12 7.5V8"/></symbol>
  <symbol id="i-mute" viewBox="0 0 24 24"><path d="M3.5 9h4l5-4.5v15L7.5 15h-4z"/><path d="M16 9.5l5 5M21 9.5l-5 5"/></symbol>
  <symbol id="i-speaker" viewBox="0 0 24 24"><path d="M3.5 9h4l5-4.5v15L7.5 15h-4z"/><path d="M16 9a4 4 0 0 1 0 6M18.5 6.5a7.5 7.5 0 0 1 0 11"/></symbol>
  <symbol id="i-send" viewBox="0 0 24 24"><path d="M3 11.5 21 4l-7.5 17-2.5-7z"/><path d="M11 14l4-4"/></symbol>
  <symbol id="i-plus" viewBox="0 0 24 24"><path d="M12 5v14M5 12h14"/></symbol>
  <symbol id="i-search" viewBox="0 0 24 24"><circle cx="10.5" cy="10.5" r="6"/><path d="M15 15l5.5 5.5"/></symbol>
</svg>
